doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    a(href='/') Return to Home
    br
    br
    
    if hotels
      each hotel,i in hotels
        #bordering
          a(href='/users/hotels/'+hotel._id) #{hotel.hotel_name} likes #{hotel.pasand_count}
          if user
            form(method='post',action='/users/hotels')
              .form-group
                input.form-control(name='hotel_id',type='hidden',value=hotel._id)
              input.btn(name='submit',type='submit',value='Love')
        br
