a(href='/') Return to HOME
h1 Reviews

if reviews
	each review, i in reviews
		li #{review.body}  by #{review.username}

br

if errors
	each error,i in errors
		li #{error.msg}

p Please enter review
form(method='post',action='/users/reviews')
	if user
		.form-group
			label Review
			input.form-control(name='body')
		input.btn(name='submit',type='submit',value='Submit')
	if !user
		p Log in to post your review
